{% extends "flask_saml2_idp/base.html" %}

{% block content %}
    <form id="logged_in_post_form" method="post" action="{{ acs_url }}">
        <input type="hidden" name="RelayState" value="{{ relay_state }}" />
        <input type="hidden" name="SAMLResponse" value="{{ saml_response }}" />
        <input id="logged_in_button_continue" type="submit" value="Continue" />
    </form>

    {% if autosubmit %}
        <script language="javascript">
        /* Hide the submit button and message and automatically submit the form. */
        var btn = document.getElementById('logged_in_button_continue'),
            frm = document.getElementById('logged_in_post_form');
        btn.style.display = 'none';
        frm.submit();
        </script>
    {% endif %}
{% endblock content %}